@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

html {
  /* Official styles (Firefox) */
  scrollbar-color: var(--color-thumb) var(--color-track);
  scrollbar-width: thin;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 240deg, 45.7%, 66.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --top-bar-height: 40px;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --popover-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
    --popover-border: rgba(124, 124, 124, 0.44);

    --color-thumb: rgb(64, 64, 64);
    --color-thumb-hover: rgb(96, 96, 96);
    --color-track: transparent;

    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    /**brand colors**/
    --asana-color: #f06a6a;
    --rewatch-color: #20afff;
    --rewatch-color-2: #0036f3;
    --mailchimp-color: #f3df45;
  }

  .dark {
    --panel-bg-1: 0 0% 13%;
    /* for larger modals */
    --panel-bg-2: 0 0% 21%;
    /* for smaller dropdown menus */
    --panel-hover: 240 1% 24%;

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 240deg, 45.7%, 66.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --popover: var(--panel-bg-2);
    --popover-foreground: var(--panel-hover);
    --popover-border: rgba(124, 124, 124, 0.44);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .popover-backdrop-filter {
    backdrop-filter: blur(15px);
  }

  .popover-background {
    background-color: rgba(54, 54, 54, 0.5);
  }

  .popover-border {
    border: 0.5px solid rgba(124, 124, 124, 0.44);
  }

  .popover-shadow {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
  }

  .popover-foreground {
    color: #e0e1ec;
  }

  .popover-dividers-bg {
    background-color: rgba(118, 118, 118, 0.25);
  }

  .popover-kbd-bg {
    background-color: rgba(199, 199, 199, 0.13);
  }

  .bg-popover-action-button {
    background-color: rgba(108, 108, 108, 0.25);
  }
}

/*custom scrollbar*/

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-thumb);
  border-radius: 1000px;
  border: 2px solid var(--color-track);
  height: 0.6rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-thumb-hover);
}

/* custom classes */

.gradient {
  background: linear-gradient(177deg, #fff -23%, #999 66%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.mastra-workflows-scroll-area > div {
  height: 100%;
}

.mastra-actions-form-scroll-area > div {
  height: 100%;
  display: block !important;
}

.lid,
.body {
  transition: transform 0.2s;
}

.delete-action-button:hover .lid {
  transform: translateY(-2px);
}

.delete-action-button:hover .body {
  transform: translateY(2px);
}

.shiki code {
  font-size: 14px !important;
}

.shiki code .line {
  max-width: 80%;
}

/**collapsible**/

.CollapsibleContent {
  overflow: hidden;
}

.CollapsibleContent[data-state='open'] {
  animation: slideDown 180ms var(--ease-out-quad) forwards;
}

.CollapsibleContent[data-state='closed'] {
  animation: slideUp 180ms var(--ease-out-quad) forwards;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}

.db-icon {
  animation: icon-animate 1s infinite;
}

.db-icon:nth-child(2) {
  animation-delay: calc(1s / 6);
}

.db-icon:nth-child(3) {
  animation-delay: calc(1s / 5);
}

@keyframes icon-animate {
  25% {
    opacity: 1;
  }
}

/*shiki custom*/

.no-border pre.shiki {
  border: none;
}

.integrations-screen-code-snippet pre.shiki {
  border-radius: none;
  border: 0;
  width: 100%;
}

.integrations-setup-code-snippet pre.shiki {
  border-radius: none;
  border: 0;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.1) !important;
}

pre.shiki {
  background-color: #1a1a1a !important;
  border-radius: 5px;
  width: 40em;
  height: 20em;
  overflow: scroll;
  border: 1px solid #343434;
}

.shiki code {
  font-size: 12px !important;
}

.gradient-bg {
  position: absolute;
  z-index: 1;
  background: linear-gradient(201deg, #d9d9d9 11.52%, rgba(115, 115, 115, 0) 72.21%);
  background: radial-gradient(
    50.87% 50.85% at 50% 50%,
    rgba(0, 0, 0, 0.15) 42.56%,
    rgba(33, 104, 120, 0.15) 57.93%,
    rgba(0, 0, 0, 0.15) 72.45%
  );
  width: 108.79981rem;
  height: 88.81313rem;
  transform: rotate(-23.537deg) translate(100px, -200px);
  flex-shrink: 0;
  mix-blend-mode: lighten;
  opacity: 0.7;
}

.run-button-container {
  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 34px;
    top: -34px;
    z-index: 1;
    left: 50%;
    background-color: #424242;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -34px;
    width: 1px;
    height: 34px;
    left: 50%;
    z-index: 1;
    background-color: #424242;
  }
}

span[data-state='api']:has(+ button) {
  display: none;
}

span[data-state='event']:has(+ button) {
  display: none;
}

.mastra-token.token.string {
  max-width: 320px;
  white-space: normal;
  /* color: oklch(73.1% 0.2158 148.29) !important */
}

.mastra-token.token.punctuation {
  align-self: flex-end;
}

/* .mastra-token.token.constant {
  color: oklch(71.7% 0.1648 250.79360374054167)!important;
}

.mastra-token.token.keyword {
  color: oklch(69.36% 0.2223 3.91) !important;
}

.mastra-token.token.plain{
  color: hsl(0,0%,93%) !important
}

.mastra-token.token.comment{
  color: hsla(0,0%,63%, 1) !important
}

.mastra-token.token.function{
  color: oklch(69.87% 0.2037 309.51)!important
} */
