node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Dev artifacts
.dev/db/*

.env

**/tsconfig.tsbuildinfo

.turbo

openapi-ts-error*

.mastra
# github actions
.secrets
# Local Netlify folder
.netlify
.npmrc