**/.next
**/dist
*/public/**
**/node_modules/**
**/generated/**
**/public/**
**/public/**/**
pnpm-lock.yaml
pnpm-workspace.yaml
**/packages/**/src/client/**
.mastra/
.changeset/
packages/cli/src/commands/init/init.test.ts
packages/cli/dist
**/integrations/**
packages/create-mastra/rollup.config.js
